signup {
    .card {
        border-top: none;
    }

    .container {
        margin-bottom: 5em;
    }

    .profile-image {
        position: relative;
        img {
            width: 70px;
            height: 70px;
            border-color: gray;
            background: lightgrey;
        }

        .overlay {
            position: absolute;
            border-radius: 50%;
            bottom: 100%;
            left: 0;
            right: 0;
            overflow: hidden;
            width: 76px;
            height:76px;
            transition: .5s ease;
        }

        .text {
            overflow: hidden;
            font-size: initial;
            margin-top: 27px;
            text-align: center;
            color: white;
        }
    }

    .profile-image:hover .overlay {
        bottom: 0;
        display: block;
        background-color: gray;
        transform: scale(1);
        opacity: 1;
    }

    .signup-form {
        .inner-icon {
            position: relative;
        }
        .inner-icon .custom-icon-position {
            position: absolute;
            padding: 15px 13px;
            pointer-events: none;
          }
        .right-align .custom-icon-position { right: 0px;}
        .left-align .custom-icon-position  { left:  0px;}
    
        .error-input {
            color: red;
        }
    
        .correct-input {
            color: green;
        }
    }
}