<div class="container-fluid">
    <div class="row">
        <div class="col">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel title="Please select cards to show the demo">
                    <ng-template ngbPanelContent>
                        <div class="row">
                            <div class="col" *ngFor="let item of differentComponentArray">
                                <div class="formrow">
                                    <span>
                                        <input name="checkybox" id="checkybox" type="checkbox" [checked]="item.isChecked" (change)="onCheckboxChange(item)" />
                                    </span>
                                    <label for="checkybox">{{item.itemName}}</label>
                                    <div class="clearboth"></div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>

    <div class="row">
        <div class="col-4 card-style" *ngFor="let cardItem of cardDataSource">
            <bt-card [cardTitle]="cardItem.itemName"></bt-card>
        </div>
    </div>

    <!-- <div>
        <iframe width="50%" height="300" [src]="url | safe"></iframe>
    </div> -->

</div>