app-side-menu {
    .wrapper {
        display: flex;
        align-items: stretch;
    }

    #sidebar {
        min-width: 250px;
        max-width: 250px;
        background: #1a1a1a;
        color: #fff;
        transition: all 0.3s;
    }
    
    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar {
        min-width: 250px;
        max-width: 250px;
        min-height: 100vh;
    }

    #sidebar .sidebar-header {
        padding: 20px;
    }

    @media (max-width: 768px) {
        #sidebar {
            margin-left: -250px;
        }
        #sidebar.active {
            margin-left: 0;
        }
    }

    #content {
        padding: 20px;
        min-height: 100vh;
        width: 100rem;
        transition: all 0.3s;
    }

    /*
    *   Left menu item style
    **/
    .sidebar-nav {
        position: absolute;
        z-index: 1;
        width: 250px;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .sidebar-nav li {
        position: relative; 
        line-height: 20px;
        display: inline-block;
        width: 100%;
    }
    
    .sidebar-nav li:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        width: 3px;
        background-color: #1c1c1c;
        -webkit-transition: width .2s ease-in;
        -moz-transition:  width .2s ease-in;
        -ms-transition:  width .2s ease-in;
        transition: width .2s ease-in;
    
    }
    // .sidebar-nav li:first-child a {
    //     color: #fff;
    //     background-color: #279636;
    // }
    .sidebar-nav li:nth-child(1):before {
        background-color: #279636;   
    }
    .sidebar-nav li:nth-child(2):before {
        background-color: #ec1b5a;   
    }
    .sidebar-nav li:nth-child(3):before {
        background-color: #79aefe;   
    }
    .sidebar-nav li:nth-child(4):before {
        background-color: #314190;   
    }
    .sidebar-nav li:nth-child(5):before {
        background-color: #ead24c;   
    }
    .sidebar-nav li:nth-child(6):before {
        background-color: #7d5d81;   
    }
    .sidebar-nav li:nth-child(7):before {
        background-color: #ead24c;   
    }
    .sidebar-nav li:nth-child(8):before {
        background-color: #2d2366;   
    }
    .sidebar-nav li:nth-child(9):before {
        background-color: #35acdf;   
    }
    .sidebar-nav li:hover:before,
    .sidebar-nav li.open:hover:before {
        width: 100%;
        -webkit-transition: width .2s ease-in;
        -moz-transition:  width .2s ease-in;
        -ms-transition:  width .2s ease-in;
        transition: width .2s ease-in;
    
    }
    
    .sidebar-nav li a {
        display: block;
        color: #ddd;
        text-decoration: none;
        padding: 10px 15px 10px 30px;    
    }
    
    .sidebar-nav li a:hover,
    .sidebar-nav li a:active,
    .sidebar-nav li a:focus,
    .sidebar-nav li.open a:hover,
    .sidebar-nav li.open a:active,
    .sidebar-nav li.open a:focus{
        color: #fff;
        text-decoration: none;
        background-color: transparent;
    }

    /*
    *   Details screen style
    */

    .side-menu-container {
        img {
            border: 1px solid;
            width: 4em;
            border-color: gray;
            padding: 5px;
            background: lightgrey;
        }
        .position {
            margin-top: -2em;
            margin-right: 0em;
        }
    }

    .router-content {
        margin: 3em;
    }
}