signin {
    .card {
        border-top: none;
    }
    
    .inner-icon {
        position: relative;
    }
    .inner-icon .custom-icon-position {
        position: absolute;
        padding: 15px 13px;
        pointer-events: none;
      }
    .right-align .custom-icon-position { right: 0px;}
    .left-align .custom-icon-position  { left:  0px;}

    .error-input {
        color: red;
    }

    .correct-input {
        color: green;
    }

    .container {
        margin-bottom: 5em;
    }
}